.navbar {
    box-shadow: 0px 4px 4px rgba(0,0,0,.2);
    max-height: 100px;
    display: flex;
    justify-content: space-between;

    .navbar-brand {
        background-color: #fff;
        width: 100px;

    }

    .menu-button-container {
        .menu-btn {
            color: var(--color-dark-grey);
            display: block;
            font-size: 40px;
            z-index: 1;
            width: 40px;
        }
    }
}