
/****** Fonts *******/
/* 
    Feel free to change the path of the font to the location of your choice.
    All font faces are included in the assets package.
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

@font-face {
	font-family: 'Bitter';
	src: url('../fonts/bitter_regular.ttf');
}

/****** General Styles ******/

:root{
    --color-blue: #007ec5;
    --colo-green: #82bb26;
    --color-light-blue: #A7D2E4;
    --color-light-grey: #EAEAEA;
    --color-med-grey: #cccccc;
    --color-dark-grey: #3e3e3f;
    --color-white: #ffffff;
    --mobile-media-queries: 576px;
    --tablet-media-queries: 768px;
    --large-media-queries: 992px;
    --extra-large-media-queries: 1200px;
}

html * {
    outline: 0 !important;
}

body {
	font-family: 'Poppins';
    font-size: 16px;
	padding: 0px;
	margin: 0px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins';
    font-variant-numeric: lining-nums;
    text-transform: uppercase;
    color: var(--color-dark-grey);
    margin-bottom: 0.25rem;
}
h1, h2{
    letter-spacing: 1px;
}
h3, h4, h5, h6{
    letter-spacing: 0.5px;
}
h1{font-size: 36px;}
h2{font-size: 32px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 18px;}

p{
    font-family: 'Bitter';
    font-size: 16px;
    line-height: 18px;
}

a {
    cursor: pointer;
    font-family: 'Poppins';
	font-size: 14px;
	color: var(--color-blue);
    
    @media screen and (min-width: 768px) {
        font-size: 16px;
        
    }
}
a:visited, a:focus, a:active, a:hover {
    text-decoration: none !important;
}
a:visited{
	color: var(--color-blue);
}
a:hover {
	color: var(--color-light-blue);
}

.bg-light-grey{
    background: var(--color-light-grey);
}
.bg-dark-grey{
    background: var(--color-dark-grey);
}

.btn {
    font-family: 'Poppins';
	letter-spacing: 1px;
	text-transform: uppercase;
    border-radius: 0px;
	padding: 15px 30px;
}
.btn-black{
	background: var(--color-dark-grey);
    color: var(--color-white);
    border: none;
}
.btn-black:hover, .btn-black:focus {
    color: var(--color-med-grey);
}


/****** Your Custom Styles ******/
/* 
    Add any custom styles you need can go here
*/

.text-light-grey {
    color: var(--color-light-grey);
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}

img {
     width: 100%;
}


ul.breadcrumb {
    background-color: transparent;
    padding: 0;

    li {
        padding-right: 20px;
        position: relative;
        padding-left: 10px;

        &:after {
            content: '/';
            position: absolute;
            right: 0;
            color: var(--color-med-grey);
        }

        &:last-child {
            color: #919191;

            &:after {
                display: none;
            }
        }

        &:first-child {
            padding-left: 0;
        }
    }

    
}

.form-group {
    label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
        color: var(--color-dark-grey);

    }

    .form-control {
        border-radius: 30px;

    }
}

.btn {
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 14px;

    @media screen and (min-width: 768px) {
        font-size: 16px;

        
    }
}

.btn-primary {
    background-color: var(--colo-green);
    border-color: var(--colo-green);

    &:hover, &:active {
        background-color: var(--colo-green);
        border-color: var(--colo-green);
    }
}